@font-face {
    font-family: EduVIC Want Hand;
    src: url(./typography/EduVIC\ Want\ Hand\ Variable\ Font.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Geist Mono;
    src: url(./typography/Geist\ Mono\ Variable\ Font.woff2);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  margin: 0;
  padding: 0;
}

html{
    --background-color: #FCFBF8;
    --stroke-color: #EFE8D1;
    --primary-color: #6A7D4F;
    --pararaph-color: #7A7A7A;

    background-color: var(--background-color);
    background-image: url('./images/background.png');
    background-repeat: repeat;
}

h1 {
    font-family: EduVIC Want Hand, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 32px;
    color: var(--primary-color);
}

h2 {
    font-family: EduVIC Want Hand, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 24px;
    color: var(--primary-color);
}

h3 {
    font-family: Geist Mono, 'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -.7px;
    color: var(--primary-color);
}

h4 {
    font-family: Geist Mono, 'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -.7px;
    color: var(--pararaph-color);
}

h5 {
    font-family: EduVIC Want Hand, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 15px;
    color: var(--primary-color);
}

p {
    font-family: Geist Mono, 'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: -.7px;
    line-height: 20px;
    color: var(--pararaph-color);
}

.index-header {
    margin-bottom: 32px;
    opacity: 0;
    animation: fadeInUp 0.40s ease-in-out .5s forwards;
}

.no-results-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 82px;
    opacity: 0;
    animation: fadeInUp 0.40s ease-in-out .5s forwards;
}

.index-cover {
    width: 100%;
    height: auto;
    margin-bottom: 48px;
    opacity: 0;
    animation: 0.45s ease-in-out 0s 1 normal forwards running fadeInUp;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.recipe-card {
    position: relative;
    background-color: var(--background-color);
    border: 1px solid var(--stroke-color);
    padding: 16px;
    border-radius: 8px;
    opacity: 0;
    animation: fadeInUp 0.33s ease-in-out 1s forwards;
}

.recipe-cover {
    width: 100%;
    height: auto;
    border: 1px solid var(--stroke-color);
    border-radius: 12px;
}

.recipe-head {
    margin: 16px 0 8px 0;
}

.recipe-time {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
}

.recipe-page-margin {
    margin-inline: 204px;
}

.recipe-img {
    width: 100%;
    height: auto;
    border: 1px solid var(--stroke-color);
    border-radius: 12px;
}

.recipe-image {
  flex: 1;
}

.recipe-section {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  margin: 62px 0 62px 0;
}

.recipe-text {
  flex: 1;
}

.recipe-des {
    margin-top: 12px;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
    margin: 42px 0 96px 0;
}

.nav-group {
    display: flex;
    gap: 24px;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.nav-icon {
    width: 24px;
    height: auto;
}

.nav-icon-time {
    display: flex;
    align-items: center;
    width: 24px;
    height: auto;
    margin-top: 12px;
}

a {
    text-decoration: none;
}

hr{
    border: none;
    border-top: 2px dotted var(--primary-color);
}

li {
    list-style: none;
    background-color: var(--background-color);
    border: 1px solid var(--stroke-color);
    border-radius: 4px;
    padding: 8px 24px 8px 24px;
    opacity: 0;
    animation: fadeInUp 0.40s ease-in-out .5s forwards;
}

#filters {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin: 0;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

@media (min-width: 1512px) {
    body {
        margin-inline: 42px;
        margin-block: 42px;
    }

    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 834px) and (max-width: 1512px) {
    body {
        margin-inline: 32px;
        margin-block: 32px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .recipe-page-margin {
        margin-inline: 42px;
    }
}

@media (min-width: 330px) and (max-width: 834px) {
    body {
        margin-inline: 24px;
        margin-block: 24px;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .recipe-section {
        display: block;  /* stack vertically */
    }

    .recipe-image {
        margin-top: 16px;  /* spacing between text and image */
    }

    .recipe-page-margin {
        margin-inline: 24px;
    }
}